# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

#log files
*.log
*.o

# Other random stuff
*.DS_Store
*.cproject
*.project
*.settings/language.settings.xml
